:root{
    --primery-text-color: #757575;
    --accent-color: #2196F3;
    --primery-white-color: #FFFFFF;
    --primery-grey-color: #212121;
    --primery-black-color: #000000;
    --backgrounh-primery-color: #F5F5F5;
    --backgrounh-secondary-color: #F5F4FA;
    --backgrounh-third-color: #2F303A;
    --ramka-color: #EEEEEE;
}

body{
    font-family: "Roboto", sans-serif;
    color: var(--primery-text-color);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p{
    margin: 0;
    padding: 0;
}

.button{
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
}

/* Контейнер */

.container{
    width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}



/* Логотип */
.main-header{
    background-color: var(--primery-white-color) ;
}

.logo .accent {
    color: var(--accent-color);
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--primery-black-color)
}

/*  Шапка */
.navigation-list,
.contact-list{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.contact-list{
    display: flex;
    margin-left: auto;
}

.navigation-list-item,
.contact-list-item{
    padding-top: 32px;
    padding-bottom: 31px;
}

.main-header-content{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
}

.main-header-logo{
    margin-right: 93px;
    padding-top: 22px;
    padding-bottom: 27px;
}

.navigation .navigation-list{
    display: flex;
    padding: 0;
}

.navigation-list-item:not(:last-child)
 {
    margin-right: 50px;
}


.contact-list-item:not(:last-child){
    margin-right: 50px;
}


.navigation-list-link{
    color: var(--primery-grey-color);
}

.navigation-list .active {
    color: var(--accent-color);
}

.contact-list-link{
    color: var(--primery-text-color);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.contact-list-link:hover,
.contact-list-link:focus {
    color: var(--accent-color);
}



.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Герой */
.hero{
    text-align: center;
    background-color: var(--backgrounh-third-color);
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title{
    width: 696px;
        /* text-align: center; */
        font-weight: 900;
        font-size: 44px;
        line-height: 1.4;
        letter-spacing: 0.06em;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;

        text-transform: uppercase;
        color: var(--primery-white-color);
}


.hero-btn{ 
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    color: var(--primery-white-color);
    background-color: var(--accent-color);
}

/* Наші переваги */
.features{
background-color: var(--primery-white-color););
}

.features-content{
    display: flex;
}

.features-title{
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primery-grey-color);

    display: inline-block;
    margin-bottom: 10px;
}

.features-text{
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.features-list-item{
    width: 270px;
}

.features-list-item:not(:last-child){
    margin-right: 30px;
}

.section-title{
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primery-grey-color);
    margin-bottom: 50px;
}
.section-work{
    background-color: var(--primery-white-color);
}

.work{
    font-size: 0;

    display: flex;
    justify-content: space-between;
}

/* Наша команда */

.team{
    background-color: var(--backgrounh-secondary-color);
}

.team-item{
    font-size: 0;

    background-color: var(--primery-white-color);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    padding-bottom: 30px;
}

.team-head{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--primery-grey-color);

    margin-bottom: 10px;
}

.team-text{
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.team-list{
    display: flex;
    justify-content: space-between;
}
.team-photo{
    margin-bottom: 30px;
}

/* Футер */
.main-footer{
    background-color: var(--backgrounh-third-color);

    padding-top: 60px;
    padding-bottom: 60px;
}

.main-footer-logo{
    color: var(--primery-white-color);
    display: inline-block;
    margin-bottom: 20px;
}

.adress{
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}


.adress-list-mapa{  
    color: var(--primery-white-color);
    display: inline-block;
    margin-bottom: 0;
}

.adress-list-link{
    color: rgba(255, 255, 255, 0.6);
}

.adress-list-item:not(:last-child){
    margin-bottom: 9px;
}

.adress-list-link:hover,
.adress-list-link:focus{
    color: var(--accent-color);
}


/* Портфоліо */

.main-portfolio{
    background-color: var(--primery-white-color);
}

.portfolio-title{
    margin-bottom: 58px;
    text-align: center;
}

/* Фільтер */

.filters{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filters-item-btn{
    min-width: 73px;     
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--primery-grey-color);
    background-color: var(--backgrounh-secondary-color);
    
    padding: 6px 22px;
}


.filters > .filters-item:not(:last-child){
    margin-right: 8px;
}


.filters-item-btn:hover,
.filters-item-btn:focus{
    color: var(--primery-white-color);
    background-color: var(--accent-color);
}

.preview{
    display: flex;
    flex-wrap: wrap;
}


.preview-item-link{
    display: inline-block;
}

.preview-item{
    font-size: 0;
    
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: var(--primery-white-color);
    width: 370px;
}

.preview-item:nth-child(3n){
    margin-right: 0px;
}

.preview-item:nth-last-child(-n+3) {
    margin-bottom: 0px;
}

.preview-item-content{
    border-left: 1px solid var(--ramka-color);
    border-right: 1px solid var(--ramka-color);
    border-bottom: 1px solid var(--ramka-color);

    padding: 20px 23px;
}

.preview-item-title{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primery-grey-color);

    margin-bottom: 4px;
}
.preview-item-text{
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
}



